Django~=3.2.7
django-environ~=0.7.0
{% if cookiecutter.database_backend == 'postgres' %}
# NOTE: if you have trouble installing psycopg2 while developing,
# consider changing your requirement to use `psycopg2-binary`
# See: https://www.psycopg.org/docs/install.html#psycopg-vs-psycopg-binary
psycopg2-binary~=2.9.1
{% endif %}
pytz>=2021.1
