{% raw %}{% extends "base.html" %}

Making a new template? Copy this file blocks and fill in details as needed.
Remove any unused blocks!

{% block head_extra_meta %}{# <meta> tags go here #}{% endblock %}

{% block head_css %}{# additional <link> tags for CSS #}{% endblock %}

{% block head_js %}{# <script defer> tags for deferred JS only #}{% endblock head_js %}

{% block head_title %}{# Page title. Base page has " | {% endraw %}{{cookiecutter.project_name}}{% raw %}"; follow this pattern for sub-page titling #}{% endblock %}

{% block body_container_classes %}{# Add classes to the main <div> wrapping body content #}{% endblock %}

{% block body_content %}
{# All your page content goes here! #}
{% endblock %}

{% block body_js %}
{# Inline or other types of JS <script> tags here. #}
{# Remember we've already got jQuery and Bootstrap bundle with Popper. #}
{% endblock %}{% endraw %}
