/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body > main.container {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 20px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

@media print {
  .footer { display: none!important; }
}
