# Dependabot is flakey with the syntax for requirements. We want requirements to be
# built dynamically, but it cannot resolve Jinja template syntax, throwing an error.

# To fix that, we compile all requirements for all template options here,
# and let dependabot use this file for dependency checks.

Django>=3.2,<3.3
django-environ>=0.4.5,<0.5
psycopg2>=2.8.6,<2.10
